.cover__title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 6.25rem; 
    font-family: 'Inter-Black';
    text-align: center;
    width: 720px;
    height: 200px;
    margin: 91px auto 0;
}

.cover__subtitle {
    margin: 32px auto 0;
    font-family: 'Inter-Regular';
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: lighter;
    width: 720px;
    height: 72px;
}

.cover__image {
    margin: 64px auto 0;
    display: block;
    height: auto;
    width: 984px;
}

@media (max-width: 1023px) and (min-width: 544px) {
    .cover__title {
        font-size: 4.688rem;
        line-height: 4.938rem; 
        width: 530px;
        height: 158px;
        margin: 90px auto 0;
    }
    .cover__subtitle {
        margin: 25px auto 0;
        width: 100%;
    }
    .cover__image {
        margin: 30px auto 0;
        width: 100%;    
    }
}

@media (max-width: 543px){
    .cover__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        width: 228px;
        height: 88px;
        margin: 50px auto 0;
    }
    .cover__subtitle {
        font-size: 1rem;
        line-height: 1.25rem; 
        width: 288px;
        height: 40px;
        margin: 16px auto 0;
    }
    .cover__image{
        width: 100%;
        margin: 40px auto 0;
    }
}
