.footer__copyright {
    width: 194px;
    height: 16px;
    margin: 142px auto 0;
    padding-bottom: 24px;
    font-family: 'Inter-Regular';
}

@media (max-width: 1023px) and (min-width: 544px) {
    .footer__copyright {
        margin: 250px auto 0;
    }
}

@media (max-width: 543px){
    .footer__copyright{
        margin: 0px auto 0;
    }
}